* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text;
}

body {
	color: $text;
	background-color: $background;
	font-family: "ProximaNova";
}
:root {
	--animate-duration: 5s;
	--animate-delay: 2s;
}
.animate__animated.animate__bounce {
	--animate-duration: 5s;
	--animate-delay: 1s;
}
.container {
	width: 100%;
	max-width: 1164px;
	padding: 0 12px;
}

.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 15px;
	background: $primary-color;
	border-radius: 90px;
	img {
		margin-left: 50px;
	}
	&.btn-primary {
		padding: 13px 28px;
		border: none;
		display: flex;
		justify-content: space-between;
		line-height: 146%;
		&:focus {
			box-shadow: none;
		}

		&:hover {
			background-color: $secondary-color;
			border: $secondary-color;
		}

		&.btn-large {
			padding: 22px 25px;
			font-weight: 600;
			font-size: 16px;
			line-height: 146%;
		}
	}
	&.btn-secondary {
		color: white;
		border-color: $primary-color;
		background-color: transparent;
		text-align: center;
		&:hover {
			background-color: $secondary-color;

			border: 1px solid $secondary-color;
		}
	}
}

.container-fluid {
	padding: 0 50px;
	max-width: 1920px;
}
.slick-dots {
	position: absolute;
	top: calc(100% - 57px);
	left: 50%;
	transform: translate(-50%);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	list-style: none;

	li {
		font-size: 8px;
		line-height: 8px;

		margin: 0 13px;
	}

	button {
		opacity: 0.9;
		border: 2px solid #ffffff;
		border-radius: 90px;
		font-size: 0;
		width: 8px;
		height: 8px;
		background-color: transparent;
		transition: 0.5s;
		&:hover {
			background: #ffffff;
			transition: transform 0.5s ease-in;
		}
	}

	.slick-active {
		button {
			width: 8px;
			height: 8px;
			background: #ffffff;
			opacity: 0.9;
			border-radius: 90px;
			transform: scale(1.3, 1.3);
			transition: transform 0.5s ease-in;
		}
	}
}

.template-title,
.template-subtitle {
	line-height: 124.5%;
	text-align: center;
}

.template-title {
	position: relative;
	margin-bottom: $title-margin + 19px;

	h2 {
		font-weight: 700;
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
	}
	h3 {
		font-size: 24px;
		font-weight: 300;
	}

	&:after {
		content: "";
		width: 85px;
		height: 2px;
		left: 50%;
		bottom: -19px;
		transform: translate(-50%, 0);
		position: absolute;
		background-color: $primary-color;
	}
}
.template-title-left {
	@extend .template-title;
	margin-bottom: $title-margin;
	h2 {
		text-align: left;
	}
	&:after {
		left: 0;
		transform: translate(0, 0);
	}
}
.after-inline {
	> &:after {
		display: none;
	}
	h2 {
		&:after {
			content: "";
			width: 85px;
			height: 2px;
			background-color: $primary-color;
			margin: 0 0 10px 20px;
			display: inline-block;
		}
	}
}

.input-box {
	margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	-moz-appearance: textfield;
}

label {
	font-weight: 600;
	font-size: 15px;
	line-height: 126%;
	margin-bottom: 6px;
}
input {
	width: 100%;
	background: white;
	border-radius: 10px;
	padding: 19px 20px;
	font-size: 15px;
	line-height: 126%;
	transition: 0.3s;
	color: black;
	border: 1px solid rgb(255, 251, 251);
	&::placeholder {
		color: #cbcbcb;
		transition: 0.3s;
	}
	&:focus {
		border: 1px solid rgb(138, 132, 132);
		box-shadow: rgba(211, 211, 232, 0.818) 0px 0px 11px 0px;
		&::placeholder {
			color: transparent;
		}
	}
	&:focus-visible {
		outline: none;
	}
}

.input-checkbox {
	margin-bottom: 14px;
	position: relative;
	label {
		padding-left: 35px;
	}
	input[type="checkbox"] {
		display: none;

		+ label::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-55%);
			width: 24px;
			height: 24px;
			border: 1px solid black;
			border-radius: 5px;
			background-color: white;
		}
		&:checked + label::after {
			content: "";
			position: absolute;
			font-size: 16px;
			width: 24px;
			height: 24px;

			background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.31726 10.3171C4.07378 10.3171 3.83005 10.2243 3.64431 10.0384L0.278815 6.67291C-0.0929384 6.30116 -0.0929384 5.69853 0.278815 5.32677C0.650569 4.95502 1.2532 4.95502 1.62495 5.32677L4.31726 8.01907L10.3751 1.96139C10.7468 1.58975 11.3496 1.58964 11.7211 1.96139C12.0929 2.33314 12.0929 2.93591 11.7211 3.30753L4.99034 10.0384C4.80446 10.2242 4.56084 10.3171 4.31726 10.3171Z' fill='%23282B38'/%3E%3C/svg%3E")
				center no-repeat;
			left: 0;
			top: 50%;
			transform: translateY(-55%);
		}
	}
}

section > .container-fluid:not(.banner) {
	background: $accest-background;
	border-radius: 20px;
	padding: 90px 50px 110px;
}
.dilivery {
	margin: 100px 0;
}
