//colors///
$primary-color: #e58d35;
$secondary-color: #89c249;
$accest-background: #363a4d;
$text: #ffffff;
$background: #282b38;
$font-size: 16px;

$font-primery: "ProximaNova";
$section-margin-bottom: 90px;
$section-padding: 90px 12px 100px 12px;
$title-margin: 60px;

/////fonts///
//$font-primary: "Open Sans";
//$font-secondary:  "monospace";
//$font-size: 16px;
//
/////colors///
//$primary-color: #222;
//$secondary-color: #f00;
