<section class="calculation">
	<div class="template-title-left after-inline">
		<h2>Получить рассчет стоимости доставки вашего груза</h2>
	</div>
	<div class="calculation-row">
		<form class="form-calculation">
			<div class="row">
				<div class="col-md-6">
					<div class="input-box">
						<label>Категория товара:</label>
						<input type="text" placeholder="Категория товара" />
					</div>
					<div class="input-box">
						<label>Вес груза (кг):</label>
						<input type="number" placeholder="Введите вес" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-box">
						<label>Стоимость груза:</label>
						<input type="number" placeholder="Введите стоимость" />
					</div>

					<div class="input-box">
						<label>Объем груза (м3):</label>
						<input type="number" placeholder="Введите объем" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="input-checkbox">
						<input
							id="insurance"
							name="insurance"
							value="insurance"
							type="checkbox"
							placeholder="Категория товара"
						/>
						<label for="insurance">Страховка</label>
					</div>

					<div class="input-checkbox">
						<input id="decor" name="decor" type="checkbox" value="decor" />
						<label for="decor">Таможенное оформление</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-box">
						<label>Код ТН ВЭД:</label>
						<input type="number" placeholder="Введите код" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="input-box">
						<label id="file-name">Имя файла</label>
						<label class="labelfile" for="fileInput"
							><span>Загрузить фото товара</span></label
						>
						<input
							type="file"
							id="fileInput"
							class="fileInput"
							name="fileInput"
						/>
					</div>
				</div>
				<div class="col-md-7">
					<button type="submit" class="btn btn-primary">
						Следующий шаг
						<img src="assets/img/button-img-bg.svg" alt="" srcset="" />
					</button>
				</div>
			</div>
		</form>

		<div class="img-box">
			<img src="assets/img/man-img-calculation.png" alt="man" />
		</div>
	</div>
</section>

<section class="calculation">
	<div class="template-title">
		<h2>Варианты доставки грузов из Китая</h2>
	</div>
</section>

<section class="calculation">
	<div class="template-title">
		<h2>Часто задаваемые вопросы</h2>
	</div>
</section>

<section class="calculation">
	<div class="template-title">
		<h2>Готовы к сотрудничеству?</h2>
		<h3>Зарегистрируйте груз!</h3>
	</div>
</section>
