<section class="dilivery-second">
	<div class="container-fluid">
		<div class="template-title">
			<h2>Услуги</h2>
		</div>
		<div class="slider-template">
			<div
				class="slider-template-item"
				style="background-image: url(assets/img/dilivery-second1.png)"
			>
				<div class="slider-template-item__title">Выкуп товара</div>

				<div class="slider-template-item__description">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="slider-template-item__buttons">
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div
				class="slider-template-item"
				style="background-image: url(assets/img/dilivery-second2.png)"
			>
				<div class="slider-template-item__title">Страховка груза</div>

				<div class="slider-template-item__description">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="slider-template-item__buttons">
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div
				class="slider-template-item"
				style="background-image: url(assets/img/dilivery-second3.png)"
			>
				<div class="slider-template-item__title">Аренда склада</div>

				<div class="slider-template-item__description">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="slider-template-item__buttons">
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div
				class="slider-template-item"
				style="background-image: url(assets/img/dilivery-second4.png)"
			>
				<div class="slider-template-item__title">Перевод денежных средств</div>

				<div class="slider-template-item__description">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="slider-template-item__buttons">
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
		</div>
	</div>
</section>
